.blurbs-wrapper {
    background: url(../img/blur-bg.png) 0 0 repeat-x;
    background-size: contain;
}

    .blurbs__link:hover {
        color: #fe660b;
        }

    .article__link:hover,
    .article__link_analog:hover {
        font-weight: normal;
        text-decoration: underline;
    }

@media (min-width: 480px) {

/* ********* TOP SLIDER ********* */

        .slider__group {
            float: left;
        }

        .slider__image {
            margin-left: 240px;
            margin-top: 0px;
        }

/* ########## FOOTER MENU ########## */

        .footer .menu__hidden{
            display: inline;
        }

        .footer .menu__item {
            line-height: 26px;
            display: inline-block;
        }

        .footer .menu__link {
            line-height: 24px;
            border-bottom: 2px solid transparent;
            display: inline-block;
        }

        .footer .menu__visible:hover .menu__hidden {
            display: inline;
        }
        .footer .menu__link:hover {
            border-bottom: 2px solid #edbfff;
        }
}

/* ################### 768 ##################### */

@media (min-width: 768px) {

/* ********** TOP MENU ********** */

        .menu__hidden{
            display: inline;
        }

        .menu__item {
            display: inline-block;
        }

        .menu__link {
            border-bottom: 2px solid transparent;
            display: inline-block;
        }

        .menu__visible:hover .menu__hidden {
        display: inline;
        }

        .menu__link:hover {
            border-bottom: 2px solid #edbfff;
        }

/* ********* TOP SLIDER ********* */

        .slider__group {
            float: left;
        }

        .slider__image {
            margin-left: 410px;
            margin-top: 0px;
        }

/* ######### BLOCK BLURBS ########## */


        .blurbs__section {
            float: left;
        }

/* ********** MAIN PINGBULLER ********** */
    
        .main__section {
            width: 350px;
            float: left;
        }

/* ********** MAIN BLOG ********* */

    .article {
        display: inline-block;
    }

/* ########## NEWS BLOCK ########## */

        .news__section {
            width: 240px;
            margin: 23px 0px 0 14px;
            float: left;
        }

            .newa__section_ie {
            margin-left: 20px;
            }
}

/* ########## 960 ########## */

@media (min-width: 960px) {


/* ********** TOP MENU ********** */

    .logo {
 
        float: left;
    }

    .menu {
        width: 800px;
        float: right;
    }

        .menu__visible {
            margin-left: 165px;
        }

        .menu__link {
            margin-right: 40px;
        }

/* ********* TOP SLIDER ********* */

        .slider__image {
            margin-left: 615px;
            margin-top: 0px;
        }

/* ######### BLOCK BLURBS ########## */

        .blurbs__section {
            width: 310px;
            margin: 11px 0 0 10px;
        }

/* ********** MAIN BLOG ********* */

    .article {
        margin-left: 140px;
    }

/* ########## NEWS BLOCK ########## */

        .news__section {
            margin: 12px 80px 0 0px;
        }

        .news__vision-p::after {
            display: none;
        }

            .news__vision-p_color {
            color: #b9b9b9;
            }   

            .news__title_copyrite {
                color: #c5c5c5;
                padding-bottom: 9px;
                font: italic 16px Georgia, Arial sans-serif; 
                line-height: 19px;
                display: block;
            }

/* ########## FOOTER MENU ########## */

    .footer .menu {
        float: left;
    }

        .footer__copyright {
            float: right;
        }

        .footer__content {
            margin-left: 87px;
            padding-top: 52px;
            display: inline;
        }
}

